---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1 class="text-center text-7xl font-extrabold">
    Dev 💻
    <span class="block">Books</span>
  </h1>
</Layout>
